# reading and understanding data

In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("event_type.csv")

In [3]:
df1.shape

(31170, 2)

In [4]:
df1.sort_values("id",inplace=True)

In [5]:
df1['event_type'] = df1['event_type'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int).astype(str)

In [6]:
df1.drop_duplicates()

          id event_type
18299      1         11
18300      1         13
14535      2         35
14536      2         34
19226      3         11
...      ...        ...
13441  18549         35
4744   18550         11
27241  18551         11
13956  18552         34
13957  18552         35

[31170 rows x 2 columns]

In [7]:
df1.shape

(31170, 2)

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31170 entries, 18299 to 13957
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          31170 non-null  int64
 1   event_type  31170 non-null  object
dtypes: int64(1), object(1)
memory usage: 730.5+ KB

In [9]:
df2=pd.read_csv("log_feature.csv")

In [10]:
df2.shape

(58671, 3)

In [11]:
df2.sort_values("id",inplace=True)

In [12]:
df2['log_feature'] = df2['log_feature'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int).astype(str)

In [13]:
df2.drop_duplicates()

          id log_feature  volume
36199      1         179       1
36197      1          68       2
36198      1         345       2
27668      2         312       1
27670      2         233       1
...      ...         ...     ...
8892   18550          74       3
51615  18551          73       6
51614  18551         195       1
26227  18552         312      25
26226  18552         232      23

[58671 rows x 3 columns]

In [14]:
df2.shape

(58671, 3)

In [15]:
df3=pd.read_csv("resource_type.csv")

In [16]:
df3.shape

(21076, 2)

In [17]:
df3.sort_values("id",inplace=True)

In [18]:
df3['resource_type'] = df3['resource_type'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int).astype(str)

In [19]:
df3.drop_duplicates()

          id resource_type
11285      1             6
11284      1             8
9069       2             2
11953      3             8
12102      4             2
...      ...           ...
6431   18548             2
8515   18549             2
3672   18550             8
18471  18551             8
8773   18552             2

[21076 rows x 2 columns]

In [20]:
df3.shape

(21076, 2)

In [21]:
df4=pd.read_csv("severity_type.csv")

In [22]:
df4.shape

(18552, 2)

In [23]:
df4.sort_values("id",inplace=True)

In [24]:
df4['severity_type'] = df4['severity_type'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int).astype(str)

In [25]:
df4.drop_duplicates()

          id severity_type
10448      1             1
8351       2             2
10957      3             1
11106      4             4
7736       5             2
...      ...           ...
5863   18548             2
7804   18549             1
3262   18550             1
16278  18551             1
8060   18552             2

[18552 rows x 2 columns]

In [26]:
df4.shape

(18552, 2)

In [27]:
df5=pd.read_csv("train.csv")

In [28]:
df5.shape

(7381, 3)

In [29]:
df5.sort_values("id",inplace=True)

In [30]:
df5['location'] = df5['location'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int).astype(str)

In [31]:
df5.drop_duplicates()

         id location  fault_severity
4407      1      601               1
5694      5      460               0
279       6      332               1
4370      8      243               0
2199     13      418               0
...     ...      ...             ...
847   18539      147               0
3312  18542      495               0
7020  18543      998               1
4612  18548      278               0
1966  18550       12               0

[7381 rows x 3 columns]

**Merging data**

In [32]:
dfn1=pd.merge(df1,df2,on="id")

In [33]:
dfn2=pd.merge(df3,df4,on="id")

In [34]:
dfn3=pd.merge(dfn1,df5,on="id")

In [35]:
dfn=pd.merge(dfn2,dfn3,on="id")

In [36]:
dfn

,id,resource_type,severity_type,event_type,log_feature,volume,location,fault_severity
0,1,6,1,11,179,1,601,1
1,1,6,1,11,68,2,601,1
2,1,6,1,11,345,2,601,1
3,1,6,1,13,179,1,601,1
4,1,6,1,13,68,2,601,1
...,...,...,...,...,...,...,...,...
61834,18548,2,2,35,315,3,278,0
61835,18548,2,2,35,232,4,278,0
61836,18548,2,2,35,233,4,278,0
61837,18550,8,1,11,196,3,12,0
61838,18550,8,1,11,74,3,12,0

In [37]:
abs(dfn.corr()["fault_severity"]).sort_values(ascending=False)

fault_severity    1.000000
id                0.045528
volume            0.027196
Name: fault_severity, dtype: float64

**PREPRAING DATA**

In [38]:
df=pd.get_dummies(dfn)

In [39]:
df.drop_duplicates()

,id,volume,fault_severity,resource_type_1,resource_type_10,resource_type_2,resource_type_3,resource_type_4,resource_type_5,resource_type_6,...,location_987,location_989,location_99,location_990,location_991,location_994,location_995,location_996,location_998,location_999
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,2,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,2,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,2,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61834,18548,3,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61835,18548,4,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61836,18548,4,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61837,18550,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61838,18550,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Fit and predict

In [40]:
x=df.drop("fault_severity",axis=1)
y=df["fault_severity"]

In [41]:
x["volume"].sort_values(ascending=False)

47133    877
47135    662
46896    647
5081     636
51607    632
        ...
42800      1
42798      1
42797      1
42796      1
0          1
Name: volume, Length: 61839, dtype: int64

In [42]:
x["volume"]=x["volume"]/877

In [43]:
x["volume"].sort_values(ascending=False)

47133    1.000000
47135    0.754846
46896    0.737742
5081     0.725200
51607    0.720639
           ...
42800    0.001140
42798    0.001140
42797    0.001140
42796    0.001140
0        0.001140
Name: volume, Length: 61839, dtype: float64

In [44]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import warnings
warnings.filterwarnings("ignore")
warnings.simplefilter('ignore')
import seaborn as sns

In [45]:
from sklearn.naive_bayes import GaussianNB , BernoulliNB # 2 şey için
from sklearn.naive_bayes import MultinomialNB# 3 ve daha fazla için
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier9+562q
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [46]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42)

In [47]:
clf=DecisionTreeClassifier()
dtc=clf.fit(x_train,y_train)
y_pred_dtc=dtc.predict(x_test)

In [48]:
accuracy_score(y_pred_dtc,y_test)

0.9329236739974127

In [57]:
clf=GradientBoostingClassifier(learning_rate=1.0,n_estimators=500)
gbc=clf.fit(x_train,y_train)
y_pred_gbc=gbc.predict(x_test)

In [58]:
accuracy_score(y_pred_gbc,y_test)

0.9345407503234152

In [59]:
clf=KNeighborsClassifier(n_neighbors=2)
knn=clf.fit(x_train,y_train)
y_pred_knn=knn.predict(x_test)

In [60]:
accuracy_score(y_pred_knn,y_test)

0.9686287192755498

In [66]:
k=KNeighborsClassifier(n_neighbors=2)
d=DecisionTreeClassifier()
gbc=GradientBoostingClassifier(learning_rate=1.0)

In [67]:
#önce yukarda olduğu gibi tanımlamak lazım
algorithms = [k,d,gbc]
names = ['KNearest', 'SingleTree',  'Gradient Boost']

In [68]:
def evaluate_model():
    # fit the data
    for i in range(len(algorithms)):
        algorithms[i] = algorithms[i].fit(x_train, y_train)
    # print metrics 
    accuracy = []
    
    for i in range(len(algorithms)):
        if accuracy_score(y_test, algorithms[i].predict(x_test)) == 1:
            accuracy.append(0)
        else:   
            accuracy.append(accuracy_score(y_test, algorithms[i].predict(x_test)))
    metrics = pd.DataFrame(columns = ['Accuracy'], index = names)
    metrics['Accuracy'] = accuracy
    return metrics.sort_values('Accuracy', ascending = False)

In [69]:
evaluate_model()

                Accuracy
K Nearest       0.958279
Single Tree     0.933312
Gradient Boost  0.863842
BernoulliNB     0.689521
GaussianNB      0.582147

### result

In [71]:
df=pd.read_clipboard()
df.to_csv("result.csv")

In [72]:
df

                      Accuracy
K           Nearest   0.958279
Single      Tree      0.933312
Gradient    Boost     0.863842
BernoulliNB 0.689521       NaN
GaussianNB  0.582147       NaN

In [64]:
y_pred_proba_gbc=gbc.predict_proba(x_test)

In [61]:
y_pred_proba_knn=knn.predict_proba(x_test)

In [68]:
result=pd.DataFrame({"id":x_test.id,
                     "KNN Predicted fault_severity":y_pred_knn,
                     "GBC Predicted fault_severity":y_pred_gbc,
                    "KNN Prediction probability 0":y_pred_proba_knn[:,0],
                    "KNN Prediction probability 1":y_pred_proba_knn[:,1],
                    "KNN Prediction probability 2":y_pred_proba_knn[:,2],
                    "GBC Prediction probability 0":y_pred_proba_gbc[:,0],
                    "GBC Prediction probability 1":y_pred_proba_gbc[:,1],
                    "GBC Prediction probability 2":y_pred_proba_gbc[:,2],
                    })

In [69]:
result.head()

,id,KNN Predicted fault_severity,GBC Predicted fault_severity,KNN Prediction probability 0,KNN Prediction probability 1,KNN Prediction probability 2,GBC Prediction probability 0,GBC Prediction probability 1,GBC Prediction probability 2
32241,9380,2,1,0.0,0.0,1.0,0.083450,0.915453,0.001097
28051,7984,0,0,1.0,0.0,0.0,0.841686,0.145349,0.012965
6145,1773,1,1,0.0,1.0,0.0,0.457504,0.537246,0.005250
38955,11608,1,1,0.0,1.0,0.0,0.056722,0.940101,0.003177
52923,15912,1,1,0.0,1.0,0.0,0.063862,0.935211,0.000927

In [70]:
result.to_csv("result.csv")